.pool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 8px 8px;
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10%;
  border-radius: 0;
}
.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}
.squareSmall {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 8px 8px;
}
.rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.roundedSmall {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.button {
  display: flex;
  gap: 10px;

  & .img {
    width: 15px;
    height: 15px;
    object-fit: contain;
  }
}

.blue {
  background-color: #0f52ba;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}

.disabled {
  opacity: 0.6;
}
