.small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  margin: 0;
}
.regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.regularFin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  margin: 0;
}
.medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.large {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 15px;
  margin: 0;
}

.great {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  margin: 0;
}

@media (max-width: 768px) {
  .great {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .great {
    font-size: 24px;
    line-height: 20px;
  }
}

.white {
  color: white;
}
.gray {
  color: #2c2c2c;
}
.black {
  color: black;
}
