.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-center;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #0f52ba;
  width: 100vw;
  height: 100px;
}
