.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: #0f52ba;
  width: 100vw;
  height: 100px;

  .brand {
    display: flex;
    align-items: end;
    gap: 2px;
  }
}
