.container {
  display: flex;
  background-color: white;
  justify-content: end;
  width: 380px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 20px;

    .name {
      width: 100px;
      object-fit: contain;
    }
    .image {
      height: 60px;
      width: 60px;
      object-fit: contain;
    }
    .counterAmount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
    }
  }
  .webButton {
    padding: 0;
  }
  .mobileButton {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    background-color: white;
    justify-content: end;
    width: 250px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      padding: 20px 0;
      gap: 20px;

      .name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .image {
        height: 60px;
        width: 60px;
        object-fit: contain;
      }

      .counterAmount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .text {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 84px;
          height: 35px;
          background-color: #373737;
          font-weight: 700;
          font-size: 15px;
          line-height: 15px;
          margin-bottom: 1px;
          padding: 5px;
          color: white;
          border-radius: 5px;
        }
      }
    }
    .webButton {
      display: none;
    }
    .mobileButton {
      display: flex;
      padding: 10px 4px;
      background-color: transparent;
    }
  }
}
